.bookmark {
  display: none;
}
.bookmark.active {
  display: initial;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
  }

.colections {
    height: 5.5rem;
    width: 100%;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #657786;
  }
  .colections-background {
    border-bottom: solid 2px #657786;
  }
  .toolbar-title {
    margin-left: 0.35rem;
    white-space: nowrap;
    color: #657786;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3;
  }
  .button-create {
    align-items: center;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
  }
  .button-create :hover {
    color: #eb7260;
  }
  .button-img {
    width: 15px;
    height: 15px;
  }
  
  
  .bookmark-collection {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-height: 30rem
  }
  .bookmark-link {
    width: 300px;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .bookmark-link a{
    text-decoration: none;
  }
  .span-icon {
    width: 20px;
    height: 20px;
    background-image: url(../img/add-file.svg);
  }


  .modal {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal-container {
    padding: 20px;
    border-radius: 25px;
    background-color: #fffe;
    width: 50vw;
    transform: scale(0.5);
    transition: all 0.5s;
}
.modal-container.active {
    transform: scale(1);
}
